<!DOCTYPE html>
<html>
<head>
    <title>Subscriptions</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="subheader4">  
    <nav>
        <div class="nav-title">
    <ul>
        <li><a href="/index">PELE</a></li>
    </ul>
        </div>
        <div class="nav-links">
            <ul>    
                <li><a href="/index">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/services">SERVICES</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <% if (loggedIn) { %>
                  <li><a href="/accdet"><i class="fa fa-user"></i></a></li>
                <% } else { %>
                  <li><a href="/login"><i class="fa fa-user"></i></a></li>
                <% } %>
            </ul>
        </div>
    </nav>
   <h1>Subscriptions</h1>
 </section>
 
    <section class="abtus255">
        <h1>&nbsp;Get Added Benefits Now</h1>
        <div class="arow55934">
           <div class="servs-col55">
            <p>Premium</p>
              <div class="price-container55">
                <span>د.إ</span><div class="pricesizef33">1500</div>
                <span>/mo</span>
              </div>
              <br>
                <p style="border-top: 1px solid #fff;"><br><br><i class="fa fa-check"></i>&nbsp;4x Exterior Revives<br><br>
                  <i class="fa fa-check"></i>&nbsp;2x Full Refresh<br><br>
                  <i class="fa fa-check"></i>&nbsp;1x Showroom Shine<br><br>
                  <i class="fa fa-check"></i>&nbsp;1x Oil Change<br><br>
                  <i class="fa fa-check"></i>&nbsp;1x Filer Change<br><br>
                </p>
                     <a href="/Payment" class="subbt55">Subscribe</a>
            </div>
            <div class="servs-col55">
              <p>PELE</p>
              <div class="price-container55">
                <span>د.إ</span><div class="pricesizef33">15000</div>
                <span>/yr</span>
              </div>
              <br>
              <p style="border-top: 1px solid #fff;"><br><br><i class="fa fa-check"></i>&nbsp;4x Exterior Revives/mo<br><br>
                <i class="fa fa-check"></i>&nbsp;2x Full Refresh/mo<br><br>
                <i class="fa fa-check"></i>&nbsp;1x Showroom Shine/mo<br><br>
                <i class="fa fa-check"></i>&nbsp;1x Oil Change/mo<br><br>
                <i class="fa fa-check"></i>&nbsp;1x Filer Change/mo<br><br>
              </p>
                     <a href="/Payment" class="subbt55">Subscribe</a>
            </div>
        </div>
    </section>

 <section class="footer">
    <h4>Get To know Us</h4>
    <p>Follow our social media accounts to get updates and offers before<br> anyone else.</p>
        <div class="iconsF">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
        </div>
        <p>&copy Partners of PELE</p>
 </section>
</body>
</html>