*{
    margin: 0;
    padding: 0;
	font-family: "quicksand";
}
@font-face {
    font-family: "AllegiasMedium";
    src: url("Allegias_demo.ttf") format("truetype");
  }

.header{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
    opacity: 90%;
}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color:#fff;
	text-decoration: none;
	font-size: 14px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #ffffff;
	display:block;
	margin:auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}

.nav-title{
	flex: 1;
	text-align: left;
}
.nav-title ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-title ul li a{
	color:#fff;
	text-decoration: none;
	text-decoration-color: #fff;
	font-family: "AllegiasMedium" , sans-serif;
    font-size: 35px;
}

.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: left;
}
.text-box p{
	font-size: 18px;
}
/*About Us*/

.abtus{
	
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 1px;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
#abtp1 {
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	text-align: center;
}
.absbt{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #000000;
	padding: 12px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: #000000;
}
.absbt:hover{
	background: #000000;
	border: 1px solid black;
	transition: 1s;
	color: #fff;
}
.Joinus{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 5px 28px;
	background: transparent;
	position: relative;
	cursor: pointer;
	border-radius: 10px;
}
.Joinus:hover{
	background: #000000;
	transition: 1s;
	border: 1px solid #000000;
}
.abtus2{
	
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
#abtp2 {
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	
}
.arow{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.servs-col{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
}
.h3ab2{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.servs-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*Location*/
.loca{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.loca-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.loca-col img{
	width: 100%;
	display: block;
}
.layeri{
	background: transparent;
	height: 99%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	text-align: center;
}
.layeri:hover{
	background:  rgba(0,0,0,0.2);
}
.layeri h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layeri:hover h3{
	bottom: 49%;
	opacity: 1;
}
/*Reviews*/
.review{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
}
.review-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #000000;
	padding: 25px;
	cursor: pointer;
	display: flex;
	color: #fff;
}
.review-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
}
.review-col p{
	padding: 0;
}
.review-col h3{
	margin-top: 15px;
	text-align: left;
}
/*CTA*/
.cta{
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://images.unsplash.com/photo-1493238792000-8113da705763?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
	padding: 100px 0;
}
.cta h1{
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}
.absbt23{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ffffff;
	padding: 12px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: #fff;

}
.absbt23:hover{
	background: #000000;
	border: 1px solid black;
	transition: 1s;
	color: #fff;
}
/*Footer*/
.footer{
	width:100%;
	text-align: center;
	padding: 30px 0;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
/*AboutUsPage*/
.subheader1{
	height:50vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1471479917193-f00955256257?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.subheader1 h1{
	margin-top: 100px;
}
.about-us-page-content{
	width: 80%;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}
.abtP-col{
	flex-basis: 48%;
	padding: 30px 2px;
}
.abtP-col img{
	width: 100%;
}
.abtP-col h1{
	padding-top: 0;
}
.abtP-col p{
	padding: 15px 0 25px;
}
/*Contact-us*/
.subheader2{
	height:80vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1611651186486-415f04eb78e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.subheader2 h1{
	margin-top: 150px;
}
.lmap{
	width: 80%;
	margin: auto;
	padding: 80px 0;
}
.lmap iframe{
	width: 100%;
}
.contus{
	width:80%;
	margin:auto;
}
.contus-col{
	flex-basis: 48%;
	margin-bottom: 30px;
}
.contus-col div{
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.contus-col div .fa{
	font-size: 28px;
	color: #000000;
	margin: 10px;
	margin-right: 30px;
}
.contus-col div p{
	padding: 0;
}
.contus-col div h5{
	font-size:20px;
	margin-bottom: 5px;
	font-weight: 400;
}
.contus-col input, .contus-col textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 17px;
	outline: none;
	border: 1px solid black;
}
/*Services*/
.subheader3{
	height:70vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(carclean-transformed.avif);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.subheader3 h1{
	margin-top: 150px;
}
/*Subscriptions*/
.subheader4{
	height:80vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1495506539593-87a23e41b6fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.subheader4 h1{
	margin-top: 185px;
}
.abtus255{
	
	width: 70%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
#abtp255 {
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	
}
.arow55{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.arow55934{
	margin-top: 5%;
	display: flex;
	justify-content: center;
}
.servs-col55{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
	height: 450px;
	
}
.h3ab255{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.servs-col55:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.price-container55 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container55 span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .servs-col55:first-child {
	margin-right: 10px; /* Add a margin to create a gap between the cards */
  }
  .price-container55 span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .subbt55{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ffffff;
	padding: 10px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: #000000;
	border-radius: 17px;
	background: #fff;
}
.subbt55:hover{
	background: #000000;
	border: 1px solid rgb(255, 255, 255);
	transition: 1s;
	color: #ffffff;
}
/*Services Section*/
.abtus288{
	
	width: 75%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
#abtp288 {
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	
}
.arow88{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.servs-col88{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
	height: 545px;
}
.servs-col882{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
	height: 545px;
}
.servs-col883{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
	height: 545px;
}
.h3ab288{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.servs-col88:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.price-container88 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container88 span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container88 span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .subbt88{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ffffff;
	padding: 10px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: #000000;
	border-radius: 17px;
	background: #fff;
}
.subbt88:hover{
	background: #000000;
	border: 1px solid rgb(255, 255, 255);
	transition: 1s;
	color: #ffffff;
}
.pricesizef{
	font-size: 60px;
}
.subbt8899{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #000000;
	padding: 10px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: #000000;
	background: #ffffff;
}
.subbt8899:hover{
	background: #000000;
	border: 1px solid rgb(255, 255, 255);
	transition: 1s;
	color: #ffffff;
}
/*About Us Team*/
.loca97{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.loca-col97{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	height: 305px;
	margin-right: 10px;
}
.loca-col97 img{
	width: 100%;
	display: block;
}
.layeri97{
	background: transparent;
	height: 99%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	text-align: center;
}
.layeri97:hover{
	background:  rgba(0,0,0,0.2);
}
.layeri97 h3{
	width: 100%;
	font-weight: 500;
	color: #fff;
	font-size: 26px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.layeri97:hover h3{
	bottom: 49%;
	opacity: 1;
}
.arow97{
	margin-top: 5%;
	display: flex;
	justify-content: space-around;
}
.pricesizef33{
	font-size: 50px;
}

/*Account Details*/
.subheader722{
    height:90vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1580679568899-be51739ba2df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1995&q=80);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.subheader722 h1{
    margin-top: 200px;
}
/*Services2*/
.subheader3serv2{
	height:70vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1495506539593-87a23e41b6fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
	background-position: center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.subheader3serv2 h1{
	margin-top: 150px;
}
/**/
.abtus288serv2{
	
	width: 75%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}
#abtp288serv2 {
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	
}
.arow88serv2{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.servs-col88serv2{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
	height: 545px;
}
.servs-col882serv2{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
	height: 545px;
}
.servs-col883serv2{
	flex-basis: 31%;
	background: rgb(0, 0, 0);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	color: #fff;
	height: 545px;
}
.h3ab288serv2{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.servs-col88serv2:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.price-container88serv2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-size: 4.5rem;
    line-height: 1;
  }
  
  .price-container88serv2 span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .price-container88serv2 span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .subbt88serv2{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ffffff;
	padding: 10px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: #000000;
	border-radius: 17px;
	background: #fff;
}
.subbt88serv2:hover{
	background: #000000;
	border: 1px solid rgb(255, 255, 255);
	transition: 1s;
	color: #ffffff;
}
.pricesizefserv2{
	font-size: 60px;
}
.subbt8899serv2{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #000000;
	padding: 10px 34px;
	background: transparent;
	position: relative;
	cursor: pointer;
	color: #000000;
	background: #ffffff;
}
.subbt8899serv2:hover{
	background: #000000;
	border: 1px solid rgb(255, 255, 255);
	transition: 1s;
	color: #ffffff;
}